.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(/img/banners/fundo-escuro.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Imagem fixa ao rolar a página */
}

.footer p {
    color: #eeee;
}

.footer-container {
    display: flex;
    width: 100%;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
    text-align: justify;
}

.footer-section ul li {
    list-style: none;
}

.footer-section ul li a {
    color: #7e7e7e;
}

.footer-section h4 {
    color: #ffdd56;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section li {
    margin: 5px 0;
}

.footer-section a {
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #eeeeee;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.payment-methods {
    list-style-type: disc;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex: 1 1 100%;
        margin: 10px 0;
        text-align: center;
    }

    .footer-section ul {
        padding: 0;
        list-style: none;
    }

    .footer-section ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .footer-section h4 {
        font-size: 16px;
    }

    .footer-section p, .footer-section ul li {
        font-size: 14px;
    }

    .footer-copyright {
        font-size: 12px;
    }
}